<?php
/**
 * BelVG LLC.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 *
 ********************************************************************
 * @category   Belvg
 * @package    BelVG_Halloween
 * @copyright  Copyright (c) 2010 - 2016 BelVG LLC. (http://www.belvg.com)
 * @license    http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 */

/* @var $this \BelVG\Halloween\Block\Halloween */

// @codingStandardsIgnoreFile
?>
<?php if ($this->isActive()): ?>
    <?php $products = $this->getProductCollection(); ?>
    <div class="belvg-promo-wrapper belvg-promo-theme-<?php echo $this->getEventType() ?> belvg-promo-theme-<?php echo $this->getEventType() . '-' . $this->getPosition() ?>">
        <a title="Close" href="#" class="belvg-promo-close"><span>Close</span></a>
        <table class="belvg-promo-products">
            <?php foreach( $products as $_product ): ?>
                <?php $productName = $this->stripTags($_product->getName(), null, true);?>
                <tr>
                    <td>
                        <a class="product-image" title="<?php echo $productName ?>" href="<?php echo $_product->getProductUrl() ?>">
                            <img width="60" height="60" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" src="<?php echo $this->getImage($_product); ?>" />
                        </a>
                    </td>
                    <td>
                        <h2 class="product-name">
                            <a href="<?php echo $_product->getProductUrl() ?>"><?php echo $productName ?></a>
                        </h2>
                        <div class="price-box">
                            <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                        </div>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>

    </div>
    <script>
        require(['jquery'], function($){
            $(function() {
                var belvgPromo = jQuery('.belvg-promo-wrapper'),
                    blockHeight = belvgPromo.height(),
                    winHeight = jQuery(window).height();
                if (winHeight < blockHeight) {
                    belvgPromo.css('position','absolute');
                }

                $('.belvg-promo-close').on('click', function(){
                    belvgPromo.hide();
                    document.cookie='promo-adv=1;expires=<?php echo $this->getExpires() ?>;path=/';
                    return false;
                })

                belvgPromo.show('slow');
            });
        });
    </script>
<?php endif ?>