@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';
/* Default */
.belvg-promo-wrapper * { padding:0; margin:0; border:0; background:none; font-family: 'Open Sans', Roboto, 'Helvetica Neue', 'HelveticaNeue', Helvetica, FreeSans, 'Liberation Sans', 'Nimbus Sans L', sans-serif !important; }
.belvg-promo-wrapper { position:fixed; top:10px; z-index:10000; }
.belvg-promo-close { position:absolute; z-index:2; opacity:0.8; filter:alpha(opacity=80); width: 27px; height: 27px; background: url('../images/custom/close.png'); right: -13px; top: -13px; -webkit-transition:opacity .2s; -o-transition:opacity .2s; -moz-transition:opacity .2s; transition: opacity .2s;}
.belvg-promo-close:hover { opacity:1; filter:alpha(opacity=100); }
.belvg-promo-close span { display:none; }
.belvg-promo-products { max-width: 198px; margin: 242px 32px 0 32px; color: #000; border-collapse:collapse; border-spacing:0; font:12px/1.3 'Open Sans', Roboto, 'Helvetica Neue', 'HelveticaNeue', Helvetica, FreeSans, 'Liberation Sans', 'Nimbus Sans L', sans-serif; }
.belvg-promo-wrapper .product-image{border: none;}
.belvg-promo-wrapper tr+tr td { padding-top: 18px;}
.belvg-promo-products td { vertical-align:middle; padding:6px 0; }
.belvg-promo-products td+ td{padding-left: 10px;}
.belvg-promo-products .prouct-image { border:none;display:block; font:0/0 a; }
.belvg-promo-products .product-name {color:#000; text-transform: none; line-height:1.2; margin:0 0 4px; max-height:35px; overflow:hidden; font-size: 13px; font-weight: 300; }
.belvg-promo-products .product-name a { color:#000; font-weight:300; text-decoration:none; -webkit-transition:color .2s; -o-transition:color .2s; -moz-transition:color .2s; transition: color .2s;}
.belvg-promo-products .product-name a:hover { text-decoration:underline; color: #f72a31; }
.belvg-promo-products .price-box {margin:0;}
.belvg-promo-products .price-box .price { color:#000; }
.belvg-promo-products .price-box .regular-price .price,
.belvg-promo-products .price-box .special-price .price { color: #000; font-size: 16px; font-weight: 700;}
.belvg-promo-products .price-box .old-price .price { color: #f72a31; font-size: 12px; font-weight: 400; text-decoration: line-through; }
.belvg-promo-products .price-box .price-label { display:none; }
.belvg-promo-products .price-box .special-price{padding-left: 0;}


.belvg-promo-wrapper .product-image>img {
	max-width: 50px;
	max-height: 50px;}



/* Valentines Day */
.belvg-promo-theme-valentinesday { width: 260px; height: 588px; background: url('../images/custom/bg-valentinesday.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-valentinesday-left { left:0; }
.belvg-promo-theme-valentinesday-right { right:0; }
.belvg-promo-theme-valentinesday-right .belvg-promo-close {right: 6px;}

/* Valentines Day v2*/
.belvg-promo-theme-valentinesday2 { width: 260px; height: 588px; background: url('../images/custom/bg-valentinesday2.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-valentinesday2-left { left:0; }
.belvg-promo-theme-valentinesday2-right { right:0; }
.belvg-promo-theme-valentinesday2-right .belvg-promo-close {right: 6px;}

/* Black Friday */
.belvg-promo-theme-blackfriday { width: 260px; height: 588px; background: url('../images/custom/bg-blackfriday.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-blackfriday-left { left:0; }
.belvg-promo-theme-blackfriday-right { right:0; }
.belvg-promo-theme-blackfriday-right .belvg-promo-close {right: 6px;}

/* Easter Day */
.belvg-promo-theme-easterday { width: 260px; height: 588px; background: url('../images/custom/bg-easterday.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-easterday-left { left:0; }
.belvg-promo-theme-easterday-right { right:0; }
.belvg-promo-theme-easterday-right .belvg-promo-close {right: 6px;}



/* Halloween */
.belvg-promo-theme-halloween { width: 260px; height: 588px; background: url('../images/custom/bg-halloween.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-halloween-left { left:0; }
.belvg-promo-theme-halloween-right { right:0; }
.belvg-promo-theme-halloween-right .belvg-promo-close {right: 6px;}

/* Independence Day */
.belvg-promo-theme-independenceday { width: 260px; height: 588px; background: url('../images/custom/bg-independenceday.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-independenceday-left { left:0; }
.belvg-promo-theme-independenceday-right { right:0; }
.belvg-promo-theme-independenceday-right .belvg-promo-close {right: 6px;}


/* Labor Day */
.belvg-promo-theme-laborday { width: 260px; height: 588px; background: url('../images/custom/bg-laborday.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-laborday-left { left:0; }
.belvg-promo-theme-laborday-right { right:0; }
.belvg-promo-theme-laborday-right .belvg-promo-close {right: 6px;}



/* Patricks Day */
.belvg-promo-theme-patricksday { width: 260px; height: 588px; background: url('../images/custom/bg-patricksday.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-patricksday-left { left:0; }
.belvg-promo-theme-patricksday-right { right:0; }
.belvg-promo-theme-patricksday-right .belvg-promo-close {right: 6px;}


/* New Year And Xmas */
.belvg-promo-theme-xmas-newyear { width: 260px; height: 588px; background: url('../images/custom/bg-xmas-newyear.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-xmas-newyear-left { left:0; }
.belvg-promo-theme-xmas-newyear-right { right:0; }
.belvg-promo-theme-xmas-newyear-right .belvg-promo-close {right: 6px;}


/* Xmas 1 */
.belvg-promo-theme-xmas { width: 260px; height: 588px; background: url('../images/custom/bg-xmas.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-xmas-left { left:0; }
.belvg-promo-theme-xmas-right { right:0; }
.belvg-promo-theme-xmas-right .belvg-promo-close {right: 6px;}


/* Xmas 4 */
.belvg-promo-theme-xmas2 { width: 260px; height: 588px; background: url('../images/custom/bg-xmas2.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-xmas2-left { left:0; }
.belvg-promo-theme-xmas2-right { right:0; }
.belvg-promo-theme-xmas2-right .belvg-promo-close {right: 6px;}


/* New Year 1 */
.belvg-promo-theme-newyear { width: 260px; height: 588px; background: url('../images/custom/bg-newyear.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-newyear-left { left:0; }
.belvg-promo-theme-newyear-right { right:0; }
.belvg-promo-theme-newyear-right .belvg-promo-close {right: 6px;}

/* New Year 2 */
.belvg-promo-theme-newyear2 { width: 260px; height: 588px; background: url('../images/custom/bg-newyear2.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-newyear2-left { left:0; }
.belvg-promo-theme-newyear2-right { right:0; }
.belvg-promo-theme-newyear2-right .belvg-promo-close {right: 6px;}


/* Cyber Day */
.belvg-promo-theme-cyberday { width: 260px; height: 588px; background: url('../images/custom/bg-cyberday.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-cyberday-left { left:0; }
.belvg-promo-theme-cyberday-right { right:0; }
.belvg-promo-theme-cyberday-right .belvg-promo-close {right: 6px;}

/* Thanks Giving Day */
.belvg-promo-theme-thanksgivingday { width: 260px; height: 588px; background: url('../images/custom/bg-thanksgivingday.jpg') no-repeat 50% / cover; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4); box-shadow: 0 5px 15px rgba(0,0,0,0.4); top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.belvg-promo-theme-thanksgivingday-left { left:0; }
.belvg-promo-theme-thanksgivingday-right { right:0; }
.belvg-promo-theme-thanksgivingday-right .belvg-promo-close {right: 6px;}


@media(max-width: 767px){
	.belvg-promo-wrapper{display: none !important;}}